@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.cshtml";
}

  <header>
  <div class="head-inner">
    <h1>About me</h1>
  </div>
  </header>

  <div class="fancy-container lightblue">

    <p>My name is Shannon Lewis and I’m a Senior Consultant at Readify.  I have an interest in most things .NET, and of late most things mobile.</p>
	<p>When I’m not busy coding I can usually be found running, mountain biking or just being a dad.</p>

  </div>
