@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}
<div class="col-sm-8">
	<h2>Categories</h2>
  
	<ul class="category-list fancy-container darkishblue">
		@foreach(var category in Model.AllCategories){
			<li><a href="/category/@category.Url" title="@category.Name">@category.Name</a></li>
		}
	</ul>
</div> 
